<h1>Juego del Ahorcado</h1>

<div class="word">
  <span *ngFor="let letter of word.split('')">
    {{ isLetterVisible(letter) ? letter : '_' }}
  </span>
</div>

<div class="keyboard">
  <button 
    *ngFor="let letter of 'ABCDEFGHIJKLMNÑOPQRSTUVWXYZ'.split('')" 
    (click)="guess(letter)" 
    [disabled]="guessedLetters.includes(letter) || gameOver">
    {{ letter }}
  </button>
</div>

<img [src]="'/assets/ahorcado/' + errors + '.png'" alt="Ahorcado" width="200" />
<p>Errores: {{ errors }} / {{ maxErrors }}</p>

<div *ngIf="gameOver">
  <p *ngIf="win">🎉 ¡Ganaste!</p>
  <p *ngIf="!win">💀 Perdiste. La palabra era: {{ word }}</p>
  <button (click)="startGame()">Reiniciar</button>
</div>
